<% content_for :head do %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
  integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<% end %>

<div class='loaderContainer'>
  <div class='loader'></div>
</div>

<div id="back">
  <canvas id="canvas" class="canvas-back"></canvas>
  <div class="backRight">
  </div>
  <div class="backLeft">
  </div>
</div>

<div id="slideBox">
  <div class="topLayer">
    <div class="left">
      <div class="content">
        <h2>Registrar</h2>
        <%= form_with(model: @user, url: user_registration_path(@user), local: true, html:{id: "form-signup"}) do |f| %>

          <div class="form-element form-stack">
            <%= f.label :first_name, class: "form_label" %>
            <%= f.text_field :first_name %>
          </div>

          <div class="form-element form-stack">
          <%= f.label :last_name, class: "form_label" %>
            <%= f.text_field :last_name, label: false %>
          </div>

          <div class="form-element form-stack">
          <%= f.label :email, class: "form_label" %>
          <%= f.text_field :email,
                  required: true,
                  autofocus: true,
                  label: false %>
          </div>

          <div class="form-element form-stack">
            <%= f.label :cpf, class: "form_label" %>
            <%= f.text_field :cpf,
            label: false %>
          </div>

          <div class="form-element form-stack">
            <%= f.label :phone_number, class: "form_label" %>
            <%= f.text_field :phone_number,
            label: false %>
          </div>

          <div class="form-element form-stack">
            <%= f.label :password, class: "form_label" %>
            <%= f.text_field :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  label: false %>
          </div>

          <div class="form-element">
            <%= f.label :password_confirmation, class: "form_label" %>
            <%= f.text_field :password_confirmation,
                  required: true,
                  label: false
                  %>
          </div>

        <div class="form-element form-submit">
          <%= f.submit "Registrar",  class: "signup", id: "signUp" %>

          <button id="goLeft" class="signup off">Já tem uma conta? Faça seu login!</button>
        </div>
        <% end %>

      </div>
    </div>
    <div class="right">
      <div class="content">

        <h2>Login</h2>

        <%= form_with(model: @user, url: user_session_path(@user), local: true, html:{id: "form-login"}) do |f| %>



          <div class="form-element form-stack">
          <%= f.label :email, class: "form_label" %>
          <%= f.text_field :email,
                  required: true,
                  autofocus: true,
                  label: false %>
          </div>



          <div class="form-element form-stack">
            <%= f.label :password, class: "form_label" %>
            <%= f.text_field :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  label: false %>
          </div>


        <div class="form-element form-submit">
          <%= f.submit "Login",  class: "login", id: "login" %>

          <button id="goRight" class="login off" name="signup">Não tem uma conta? Registre-se agora!</button>
        </div>
        <% end %>

      </div>

    </div>
  </div>
</div>

<script>
  /* ====================== *
   *  Toggle Between        *
   *  Sign Up / Login       *
   * ====================== */

  $(document).ready(function () {
    $('#goRight').on('click', function () {
      $('#slideBox').animate({
        'marginLeft': '0'
      });
      $('.topLayer').animate({
        'marginLeft': '100%'
      });
    });
    $('#goLeft').on('click', function () {
      if (window.innerWidth > 769) {
        $('#slideBox').animate({
          'marginLeft': '50%'
        });
      } else {
        $('#slideBox').animate({
          'marginLeft': '20%'
        });
      }
      $('.topLayer').animate({
        'marginLeft': '0'
      });
    });
  });

  setTimeout(function () {
    $('.loaderContainer').remove();
  }, 3000);
</script>
