<div class='container text-center p-5'>

<h1 class='pb-3'>Crie sua denúncia</h1>

  <%= simple_form_for @report do |f| %>
    <%= f.input :description, label: 'Descrição:' %>
    <%= f.input :category, label: 'Categoria:', collection: ['Acidente de Trânsito','Briga no Trânsito','Briga na rua', 'Briga Doméstica na rua', 'Tráfico de Drogas', 'Utilização de Drogas em via Publica', 'Furto', 'Assalto com arma de fogo']%>
    <%= f.input :danger_level, label: 'Nível de Perigo:', collection: ['1','2','3','4','5'] %>
    <%= f.input :address, label: 'Localizacão:' %>
     <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn btn-primary btn-lg m-3" %>
  <% end %>
</div>
